footer{
	bottom: 0px;
	position: fixed;
}
#bing{
	background: white;
	box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.6);
	height: 600px;
	margin: 0px auto;
	padding-top: 100px;
}
#contact-form{
	margin: 0px auto;
	text-align: center;
	max-width: 700px;
}