#autor{
	font-size:0.8em;
	font-style:italic;
	text-align:right;
}
#bing{
	background: white;
	box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.6);
	margin: 0px auto;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 100px;
}
#contenido{

}
#contenido p{
	text-indent:4em;
	text-align: justify;
}
#perfil{
	margin: 0px auto;
	padding-top: 50px;
	width:80%;
}
#perfil img{
	border-radius:10px;
	box-shadow:1px 1px 5px 1px #000;
	margin:50px auto;
	width:500px;
}
#perfil_tit{
	font-size: 2.5em;
	color: rgba(80,90,80,1);
	font-weight:normal;
	text-align: center;
}