body { 
background: #FAFAFA url("images/bg.bmp") repeat-x;
font-family: "arial";
font-size: 14px;
color: #111111;
}
#header{
	height: 200px;
	width: 1024px;
	font-family: "Helvetica";
	text-align: center;
	color: #1E417D;
	margin: 30px auto ;
	border: 0px solid;
	position: relative;
}
#pleca_header{
	background: rgba(210,210,240,1);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.7);
	height: 40px;
	position: relative;
	padding-left: 20px;
	padding-top: 15px;
		top: 100px;
}

#titulo{
font-size: 200%;
}
#titulo a{
color: #1E417D;
}
#titulo a:hover{
color: #0E315D;
}

#subtitulo{
font-size: 70%;	
}
#footer{
background: rgba(210,210,240,1);
box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.7);
color: #111111;
font-family: "Helvetica";
font-size: 80%;
margin:auto;
text-align: center;
width: 1024px;
}
#pleca_footer{
height: 40px;
}
.linea_sup{
background:#000;
width: 0.1px;
}
.changelog{
background: #EEF0F7;
height: 100px;
width: 100%;
vertical-align: center;
text-align: center;
border: 1px solid #AAB0B5;
}
hr.line{
height: 1px;
border: 0;
color: #cc0000;
background-color: #666666;
}
.h2{
font-size: 180%;
font-family: "Calibri", Tahoma, Helvetica, Arial;
color: #2B5893;
text-align: center;
vertical-align: top;
font-weight: bold;
}
#main{
	width: 1024px;
	background: #F2F2F2;
	text-align: justify;
	margin: 90px auto 0px auto;
	border: 0px solid ;
}
#maincontent{
	clear: both;
	border: 0px solid;
	padding: 40px;
	height: 100%;
	margin: 0px auto;
}
#maincontent-tit{
	font-family: "Helvetica",sans-serif;
	font-size: 250%;
	color:#445577;
	text-shadow: 0px 3px 2px #90A0D0;
	text-align: center;
}
#maincontent-body{
	width: 600px;
	margin: 0px auto;
	border: 0px solid;
}
#maincontent-text{
	text-align: justify;
	margin:50px auto;
}
#botones_aux{
	clear: both;
	width: 170px;
	position: relative;
		top: 20px;
	float: right;
	border: 0px solid ;
}
#botones_aux-int{
	border: 0px solid ;
}
#botones_aux-int1{
	float: left;
	width: 80px;
	height: 40px;
}
#botones_aux-int2{
	float: right;
		width: 80px;
		height: 40px;
}
#listabase{
	width: 650px;
	height: 40px;
	margin: 0px auto;
}
#lista{
	position: relative;
	float: left;
	width: 250px;
	border-bottom:1px dotted;
}
#listaa{
	position: relative;
	float: left;
	width: 20px;
	border-bottom:1px dotted;
}
#listab{
	position: relative;
	float: left;
	width: 120px;
	border-bottom:1px dotted;
}
#mensajes-titulo{
	margin:0px auto;
	text-align:center;
}
#mensajes-titulo p{
	font-size:150%;
	font-weight:bold;
}
#mensajes-titulo span{
	font-size:150%;
}
#mensajes-contenido{
	background:#FAFAFA;
	border-radius: 10px;  
	-moz-border-radius: 10px;  
	min-height:150px;
	margin:30px auto 20px auto;
	padding-left:20px;
	padding-right:20px;
	width:80%;
}
#mensajes-contenido p{
	font-size:150%;
	font-weight:bold;
	text-align:center;
}
#mensajes-contenido span{
	text-align:left;
}
a{
color:#663366;
border-bottom:0px;
}
a:hover{
color:#995588;
border-bottom:0px;
}
.rollover {
filter: alpha(opacity=100);
opacity: 1.0;
border: 0px;
}
.rollover:hover {
filter: alpha(opacity=80);
opacity: .3;
border: 0px;
}

h1{
font-family: "Helvetica",sans-serif;
font-size: 250%;
color:#445577;
text-shadow: 0px 3px 2px #90A0D0;
text-align: center;
}
#form-main{
	margin: 0px auto;
	width: 900px;
	border: 0px solid;
}
#mma{
	margin:0px auto;
	width:100%;
}
#mma img{
	border-radius: 10px;
	box-shadow:2px 2px 4px 0px rgba(0,0,0,0.7);
	margin:0px auto;
	text-align:center;
	width:200px;
}